div{
    background-color:blue;
    height:100px;
    width:100px;
    border:2px solid black;
    display:inline-block
}

#r{
    background-image:url("134051571977215703.jpg");
    background-size:cover ; /* auto by default hota hai ,
    contain se 
    thora acha nahi ata hai so we use cover*/
}

#g{
    background-color:green;
}

#b{
    background-color:blue;
}
#y{
    background-image:url("anime\ girl\ with\ bang.png");
background-size:contain;
background-repeat:no-repeat;
}